/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#bakerloo {
    background-color: #b26300;
}

#central {
    background-color: #dc241f;
}

#circle {
    background-color: #ffd329;
}

#district {
    background-color: #007d32;
}

#hammersmith-city {
    background-color: #f4a9be;
}

#jubilee {
    background-color: #a1a5a7;
}

#metropolitan {
    background-color: #9b0058;
}

#northern {
    background-color: #000000;
}

#piccadilly {
    background-color: #0019a8;
}

#victoria {
    background-color: #0098d8;
}

#waterloo-city {
    background-color: #93ceba;
}

.line-info-container {
    color: white;
    font-size: 26px;
    font-family: Arial;
}

.lineinfo {
    width: 70%;
    overflow: hidden;
    padding: 12px;
    margin: 3px;
}

.lineName {
    width: 50%;
    float: left;
}

.lineStatus {
    width: 50%;
    float: left;
}
