@using TFLStatusLibrary
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <title></title>
    <meta http-equiv="refresh" content="5" />
</head>
<div>
    <div class="line-info-container">
        <!-- TODO: Define the model on the razor view -->
        @foreach (LineInformation item in @Model)
        {
            <div id="@item.LineId" class="lineinfo">
                <div class="lineName">@item.LineName</div>
                <div class="lineStatus">@item.LineStatus</div>
                <div class="statusReason">@item.StatusReason</div>
            </div>

        }
    </div>
</div>
