@using TFLStatusLibrary
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>The Banging Bum</div>
    @foreach (LineInformation item in @Model)
    {
        <div>@item.lineName</div>
        <div>@item.lineStatus</div>
        <div>@item.statusReason</div>

    }
</div>
