@using TFLStatusLibrary

@{
    ViewData["Title"] = "Line";
}

<h2>Line</h2>
<div class="line-info-container">
    @foreach (LineInformation item in @Model)
    {
        <div id="@item.lineId" class="lineinfo">
            <div class="lineName">@item.lineName</div>
            <div class="lineStatus">@item.lineStatus</div>
            <div class="statusReason">@item.statusReason</div>
        </div>

    }
</div>

